#chat-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#chat-input {
    order: 2;
}

#chat-display {
    overflow-y: auto;
    flex-grow: 1;
    order: 1;
}

#chat-input .form-control {
    padding: 0;
}